html {
	scroll-behavior: smooth;
}
.App {
	background-color: rgb(227, 212, 203);
	/* padding: 0vw 10vw; */
	scroll-snap-type: y mandatory;
	overflow: scroll;
}
.Section2 {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: flex-end;
}

.notActive {
	display: none;
	transition: opacity 1s ease-out;
	opacity: 0;
}
.active {
	display: flex;
}

.Btn {
	display: flex;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 4rem;
	flex-direction: row-reverse;
}

.Btn-tag {
	background-color: rgb(184, 180, 142);
	color: rgb(90, 71, 56);
	padding: 1rem;
	scroll-behavior: smooth;
	margin: auto;
	text-decoration: none;
	font-size: 2em;
	font-weight: bolder;
	border-radius: 1rem;
	transition: 0.3s;
}
.Btn-tag:hover {
	color: rgb(184, 180, 142);
	background-color: rgb(90, 71, 56);
}
