.Btn {
	width: 70vw;
	height: 5vmax;
	background-color: rgb(227, 212, 203);
	padding: 10px;
	display: flex;
	justify-content: center;
	justify-content: space-around;
	flex-direction: column;
	align-items: flex-end;
	flex-direction: row-reverse;
	margin: auto;
	margin-top: 1rem;
	padding-bottom: 5rem;
}
